.advantages-other {
  background: #eeeeee;
}

.advantages-other__flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.advantages-other__item {
  border-top: 1px solid #d6d6d6;

  padding: 27px 0;

  &:first-child {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages-other {
    padding: 44px 0;
  }

  .advantages-other__item {
    padding: 0;

    border: none;

    width: 33.33%;
  }

  .advantages-other__flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .advantages-other {
    padding: 46px 0;
    padding-bottom: 65px;
  }
}
