.advantages-item {
  text-align: center;
}

.advantages-item--first {
  position: relative;
}

.advantages-item--important {
  color: $white-color;
  background: $base-color;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .advantages-item__desc {
    margin-bottom: 43px;
  }
}

.advantages-other .advantages-item__number {
  &::before,
  &::after {
    background-color: #979797;
  }
}

.advantages-item__triangle {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

.advantages-item__wrapper {
  text-align: center;
}

.advantages-item__title {
  @include base-heading;
  line-height: 24px;
  margin: 0;
  margin-bottom: 11px;

  br {
    display: none;
  }
}

.advantages-item--important .advantages-item__title {
  color: $white-color;
  margin-top: 38px;
}

.advantages-item__number {
  width: 52px;
  line-height: 16px;
  position: relative;
  font-size: 14px;
  margin: 0 auto 21px auto;

  &::before,
  &::after {
    position: absolute;
    width: 9px;
    height: 2px;
    top: 8px;
    content: "";
    background-color: $white-color;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.advantages-item__desc {
  margin: 0;
  line-height: 19px;
  font-size: 14px;
  text-transform: uppercase;

  br {
    display: none;
  }
}

.advantages-other__item .advantages-item__desc {
  width: 90%;
  position: relative;
  margin: 0 auto;
  top: - 1.5px;
}

.advantages-item__image-wrapper {
  margin: 0 -20px;
}

.advantages-item__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .advantages-item {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .advantages-item--first {
    padding: 0;
  }

  .advantages-item__triangle {
    display: none;
  }

  .advantages-item__title {
    font-size: 21px;
    line-height: 26px;

    br {
      display: block;
    }
  }

  .advantages-item__number {
    margin-bottom: 23px;
    line-height: 20px;
  }

  .advantages-other{

    .advantages-item__title {
      padding: 0 61px;
    }

    .advantages-item__desc {
      width: 100%;
      padding: 0 40px;
      margin-bottom: 2px;
    }
  }

  .advantages-item__desc {
    padding: 0 10px;
    line-height: 20px;

    br {
      display: block;
    }
  }

  .advantages-item--important {
    width: 100%;

    .advantages-item__wrapper {
      margin: 0 -19px 0 40px;
    }

    .container {
      padding-left: 0;
    }
  }

  .advantages-item--important .advantages-item__title {
    margin-top: 43px;
  }

  .advantages-item--first .advantages-item__wrapper {
    margin: 0 42px 0 24px;
  }

  .advantages-item--first .advantages-item__desc {
    padding: 0 24px;
    margin-bottom: 46px;
  }

  .advantages-item__adaptive-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  .advantages-item__image-wrapper {
    margin-right: -60px;
  }

  .advantages-item__image {
    width: 512px;
    height: 255px;
  }

  .advantages-item__adaptive-wrapper--reverse .advantages-item__image-wrapper {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages-item {
    width: 400px;
  }

  .advantages-item--important {
    width: 100%;

    .advantages-item__title {
      margin-top: 49px;
      padding: 0 70px;
    }

    .advantages-item__desc {
      padding: 0 45px;

      &--firefox {
        padding: 0 45px;
      }
    }
  }

  .advantages-item__wrapper {
    margin: 0 60px;
  }

  .advantages-item__image-wrapper {
    margin-right: -65px;
  }

  .advantages-item__image {
    width: 800px;
    height: 255px;
    object-fit: cover;
  }

  .advantages-item__desc--desktop {
    br {
      display: none;
    }
  }

  .advantages-other .advantages-item__wrapper {
    padding: 0 58px;
    margin: 0;
  }

  .advantages-other .advantages-item__title {
    padding: 0 64px;
  }

  .advantages-other__item:first-child .advantages-item__desc {
    padding: 0;
  }

  .advantages-other .advantages-item__desc {
    width: 284px;
    padding: 0 10px;
  }
}
