.footer {
  padding-bottom: 36px;
  padding-top: 31px;
}

.footer__flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 35px;

  @include base-heading;
  line-height: 26px;
  font-size: 21px;
}

.footer__copy {
  width: 130px;
  position: relative;
  line-height: 26px;
  margin: 0;

  @include base-text;

  color: $black-color;
  fill: $black-color;

  &:hover {
    fill: $base-color;
  }

  &:active {
    fill: #b2b2b2;
  }
}

.footer__copy-icon {
  position: absolute;
  top: -7px;
  right: 2px;
}

@media (min-width: $tablet-width) {
  .footer {
    font-size: 21px;
    padding-top: 27px;
  }

  .footer__hashtag {
    margin: 0;
  }

  .footer__socials {
    margin: 0;
  }

  .footer__flex-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copy {
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .footer__flex-wrapper {
    padding: 0 54px;
  }
}
