.photos-and-video__heading {
  @include base-heading;
  margin: 0 auto;
  text-align: center;
  line-height: 26px;
  margin-bottom: 27px;
}

.photos-and-video__slogan {
  @include base-text;
  text-align: center;
  margin: 0 auto;
  padding: 0 5px;
  line-height: 24px;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .photos-and-video {
    margin-top: 72px;
  }

  .photos-and-video__heading {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .photos-and-video__slogan {
    padding: 0 101px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .photos-and-video {
    margin-top: 109px;
  }

  .photos-and-video__slogan {
    padding: 0 312px;
  }
}
