.review__contacts-heading {
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-bottom: 11px;
}

.review__contacts-indicator {
  @include base-text;
  padding-top: 4px;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 15px;
}

.review__contacts {
  margin-top: 10px;
  position: relative;

  line-height: 22px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 65px;
    background-size: auto;
    background-position: center;
  }
}

.review__contacts-field {
  padding: 14px 18px 20px 18px;
  margin-top: 7px;

  line-height: 20px;
  background-color: $field-color;

  @include base-heading;
  width: 100%;
  text-transform: none;
  border: 4px solid transparent;
  outline: none;

  &:hover {
    background-color: $field-color-hover;
  }

  &:active,
  &:focus {
    background-color: $white-color;
    border: 4px solid $field-color-hover;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;

    @include base-heading;
    text-transform: none;
  }
}

.review__contacts--tel::after {
  background-image: url("../../img/icon-phone.svg");
}

.review__contacts--mail::after {
  background-image: url("../../img/icon-mail.svg");
}

@media (min-width: $tablet-width) {
  .review__contacts {
    padding: 0;

    margin-top: 7px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &::after {
      bottom: -3px;
    }

    &--mail {
      margin-top: -1px;
    }
  }

  .review__contacts-heading {
    font-size: 21px;
    margin-top: 3px;
  }

  .review__contacts-indicator {
    margin-bottom: 7px;
    margin-left: 22px;
  }

  .review__contacts-field {
    width: 100%;
    margin-top: 0;
    margin-bottom: -3px;
  }
}

@media (min-width: $desktop-width) {
  .review__contacts-indicator {
    margin-top: 3px;
    margin-left: 0;
    margin-right: 20px;

    &--mail {
      margin-top: 13px;
    }
  }

  .review__contacts-indicator span {
    display: none;
  }

  .review__contacts {
    padding-top: 7px;
    padding-left: 0;
    flex-direction: row;
    align-items: center;

    &::after {
      bottom: 0;
      right: 1px;
    }
  }

  .review__contacts--tel {
    padding-right: 2px;

    &::after {
      right: 79px;
    }
  }

  .review__contacts--mail {
    padding-right: 0;
  }

  .review__contacts-field {
    width: 312px;
    margin-bottom: 0;

    &--mail {
      line-height: 30px;
    }
  }
}
