.socials-list {
  @include list-style;
  width: 151px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.socials-list__item-btn {
  fill: $white-color;
  width: 46px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background: #5496bd;
    fill: #88b6d1;
  }
}

@media (min-width: $tablet-width) {
  .socials-list {
    margin-bottom: 0;
  }
}
