
.btn{
  cursor: pointer;
  border: none;
  display: block;
  background: none;
  font-family: inherit;

  &--sedona{
    background: $base-color;
  }

  &--burger{
    width: 24px;
    height: 22px;

    background: url("../img/icon-menu.svg");
  }

  &--close{
    width: 23px;
    height: 22px;
    right: 20px;
    background: url("../img/icon-cross.svg");
  }

  &--toggle{
    height: 11px;
    width: 10px;
    border-radius: 50%;
    background: #ffffff;
  }

  &--like{
    padding-left: 0;
    margin-right: 5px;
  }
}
