
.btn{
  cursor: pointer;
  border: none;
  display: block;
  &--sedona{
    background: $base-color;
  }

  &--burger{
    width: 24px;
    height: 24px;

    background: url("../img/icon-menu.svg");
  }
}
