.find-hotel {
  padding-top: 31px;
  padding-bottom: 49px;

  text-align: center;
}

.find-hotel__heading {
  margin: 0;
  margin-bottom: 21px;
  @include base-heading;
  font-size: 21px;
}

.find-hotel__desc {
  margin: 0;
  @include base-text;
  margin-bottom: 36px;
  line-height: 23px;
}

.find-hotel__btn {
  margin: 0 auto;

  width: 280px;
  padding: 15px;
  @include base-heading;
  color: #ffffff;
  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .find-hotel{
    padding: 49px 0;
  }

  .find-hotel__heading{
    font-size: 30px;
    margin-bottom: 25px;
  }

  .find-hotel__desc{
    padding: 0 126px;
    margin-bottom: 44px;
  }

  .find-hotel__btn{
    font-size: 21px;

    width: 458px;
  }
}

@media (min-width: $desktop-width) {
  .find-hotel{
    padding: 49px 0;
  }

  .find-hotel__desc{
    padding: 0 315px;
    margin-bottom: 48px;
  }
}
