.footer{
  padding: 41px 0 36px 0;

  width: 320px;
  margin: 0 auto;
}

.footer-hashtag {
  margin-bottom: 41px;
  @include base-heading;
  font-size: 21px;
}

.socials-list{
  @include list-style;
  margin-bottom: 41px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.socials-list__item-btn {
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;

  &--face {
    background-image: url("../img/icon-facebook.svg");
  }

  &--twit {
    background-image: url("../img/icon-twitter.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

.copyrighting {
  margin: 0;
  @include base-text;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .footer{
    font-size: 21px;

    width: $tablet-width;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__copy{
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .footer{
    width: 960px;
  }

}
