.footer{
  padding-bottom: 36px;
  padding-top: 46px+66px;
}

.footer__flex-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 41px;
  @include base-heading;
  font-size: 21px;
}

.socials-list{
  @include list-style;
  width: 151px;
  margin-bottom: 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.socials-list__item-btn {
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;

  &--face {
    background-image: url("../img/icon-facebook.svg");
  }

  &--twit {
    background-image: url("../img/icon-twitter.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

.copyrighting {
  position: relative;

  margin: 0;
  @include base-text;
  color: $black-color;

  &:after{
    position: absolute;
    top: -5px;

    content: url("../img/logo-htmlacademy.svg");
    width: 27px;
    height: 34px;
    margin-left: 12px;
  }
}

@media (min-width: $tablet-width) {
  .footer{
    font-size: 21px;
  }

  .footer__hashtag{
    margin: 0;
  }

  .footer__socials{
    margin: 0;
  }

  .footer__flex-wrapper{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copy{
    font-size: 14px;
    margin-right: 39px;
  }
}

@media (min-width: $desktop-width) {

}
