.footer{
  padding-bottom: 36px;
  padding-top: 31px;
}

.footer__flex-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 35px;
  @include base-heading;
  font-size: 21px;
}

.socials-list{
  @include list-style;
  width: 151px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.socials-list__item-btn {
  width: 46px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrighting {
  width: 130px;
  letter-spacing: 0.3px;

  position: relative;

  margin: 0;
  @include base-text;
  color: $black-color;

}

.footer__copy-icon{
  position: absolute;
  top: -7px;
  right: 2px;
  fill: $black-color;
  &:hover{
    fill: $base-color;
  }
  &:active{
    fill: #b2b2b2;
  }
}

@media (min-width: $tablet-width) {
  .footer{
    font-size: 21px;
  }

  .footer__hashtag{
    margin: 0;
  }

  .footer__socials{
    margin: 0;
  }

  .footer__flex-wrapper{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copy{
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .footer__flex-wrapper{
    padding: 0 54px;
  }
}
