.header {
  padding-top: 10px;
  margin-bottom: 45px;
}

.header__navigation {

  background: $base-color;
}

.header__logo{
  margin-top: -10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.header__btn--menu{
  margin: 16px 20px 16px auto;

}

.menu-list {
  @include list-style;
  display: none;
  color: $white-color;
}

.menu-list__item {
  padding: 21px 0;
  text-align: center;
  @include base-heading;
}


.greeting {
  margin: 0 auto;
  height: 390px;

  background:  url("../img/bg-intro-triangle-mobile.svg") no-repeat, url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}



.greeting--small {

  height: 158px;
}

@media (min-width: $tablet-width) {
  .menu-list {
    margin: 0 auto;

    min-height: 57px;

    padding-left: 47px;
    padding-right: 26px;

    color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-list__item{
    font-size: 14px;
  }

  .header__navigation {
    background: none;
  }

  .header__btn--menu {
    display: none;
  }


  .greeting {
    height: 519px;
    background: /*url("../img/bg-intro-triangle-desktop.svg") no-repeat,*/ url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    &--small{
      height: 291px;
      background-position-y: -57px;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu-list{
    width: 1200px;
  }

  .header__logo{

  }

  .greeting{
    background:url("../img/bg-intro-triangle-desktop.svg") no-repeat 0 462px, url("../img/bg-back-desktop@1x.jpg");
    &--small{
      height: 302px;
      background:url("../img/bg-intro-triangle-desktop.svg") no-repeat 0 245px, url("../img/bg-back-desktop@1x.jpg");
    }

  }
}
