.photos {
  margin: 0 auto;
}

.photos-list{
  @include list-style;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.photos-list__item {
  margin-top: 20px;
  margin-bottom: 22px;
  @include base-heading;
}

.item-info__name{
  margin: 0;
  margin-bottom: 14px;
}

.item-info__author {
  margin: 0;
  margin-bottom: 21px;
  @include base-text;
}

.item-info__likes {
  font-size: 14px;

  margin-bottom: 24px;
}


@media (min-width: $tablet-width) {

  .photos{
    width: $tablet-width;
  }

  .photos-list{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .photos-list__item-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {


  .photos{
    width: $desktop-width;
  }

  .photos-list__item{
    width: 400px;
  }

  .photos-list__item-info{
    color: $white-color;

    margin-top: -80px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .item-info__author{
    color: $white-color;
  }
}

