.review {
  @include base-heading;
}

.review__heading {
  text-align: center;
  margin-bottom: 36px;
}

.review__slogan {
  margin: 0;
  text-align: center;
  padding-bottom: 24px;
}

.review__form {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.review__form-info{
  width: 100%;
  margin: 0 auto;
}

.review__form-quiz {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.review__form-wrapper {
  border: 1px solid $black-color;

  order: 2;

  &--visited,
  &--opinion,
  &--contacts {
    width: 100%;
  }
}

.review__user {
  padding: 25px 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.review__user-heading {
  margin: 0;
  margin-bottom: 17px;
}

.review__user-field{
  flex-grow: 1;
}

.review__slogan,
.review__user {
  @include base-text;
}

.review__contacts {
  padding: 25px 0;
}

.review__contacts-heading {
  margin: 0;
  margin-bottom: 13px;
}

.review__contacts-indicator {
  @include base-text;
  margin-top: 20px;
  margin-bottom: 15px;
}

.review__impression {
  padding: 25px 0 17px 0;
}

.review__impression-heading {
  margin: 0;
  margin-bottom: 29px;
}

.review__impression-radio {
  margin-bottom: 10px;
}

.review__visited {
  padding: 25px 0;
}

.review__visited-heading {
  margin: 0;
}

.review__visited-cb {
  margin-top: 23px;
}

.review__user-field,
.review__opinion-field,
.review__contacts-field {
  background-color: #f2f2f2;
  @include base-heading;
  text-transform: none;
  border: none;
}

.review__opinion {
  padding-top: 24px;
}

.review__opinion-heading {
  margin: 0;
  margin-bottom: 22px;
}

.review__opinion-field {
  width: 100%;

  padding: 22px;
  resize: none;

  margin-bottom: 51px;
}

.review__impression-indicator {
  text-transform: none;
}

.review__visited-indicator {
  text-transform: none;
}

.review__btn {
  order: 2;

  width: 280px;
  padding: 21px;

  @include base-heading;
  color: #ffffff;
  font-size: 21px;
}

.review__form-necessarily {
  margin: 0;
  order: 2;
}

@media (min-width: $tablet-width) {
  .review{
    padding: 0 60px;
  }

  .review__heading{
    font-size: 30px;
  }

  .review__slogan{
    width: 452px;
    margin: 0 auto;
  }

  .review__form {

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .review__form-wrapper--impression {
    order: 1;
  }

  .review__form-wrapper--visited {
    .review__form-quiz {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .review__user-heading,
  .review__contacts-heading,
  .review__impression-heading,
  .review__visited-heading,
  .review__opinion-heading{
    font-size: 21px;
  }

  .review__contacts {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .review__contacts-field {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .review{
    padding: 0 120px;
  }
  .review__form{
  }

  .review__form-wrapper--contacts{
    .review__form-quiz{
      flex-direction: row;
    }
  }
  .review__contacts{
    flex-direction: row;
  }

  .review__contacts-indicator{
    margin-top: 0;
  }
}
