.video {
  position: relative;

  text-align: center;

  padding-top: 33px;
  margin-bottom: 44px;
}

.video__flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video-heading {
  @include base-heading;
  margin: 0;
  margin-bottom: 32px;
}

.video-slogan {
  @include base-text;
  padding: 0 10px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 35px;
}

.video__window {
  position: relative;

  width: 320px;
  height: 201px;

  margin: 0 -20px;

  background-image: url("../img/video-mobile.jpg");
}

.video__window-scroll-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 280px;
  height: 46px;
}

.video__window-scroll-line {
  width: 234px;
  height: 3px;
  background: #858584;
}



.video__window-scroll-toggle {
  position: absolute;
  top: -4px;
  left: 33px;
}

.video__window-nav-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 280px;
  height: 66px;
  background: #f2f2f2;
}

.video__window-nav__repeat {
  margin-left: 19px;
  background: none;
}

.video__window-nav__subtitles {
  margin-left: auto;
  margin-right: 19px;
  background: none;
}

.video__window-nav__fullscreen {
  margin-right: 17px;
  background: none;
}

@media (min-width: $tablet-width) {
  .video {
    padding-top: 60px;
    margin-bottom: -47px;
  }

  .video-heading {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .video-slogan {
    padding: 0 110px;
    margin-bottom: 74px;
  }

  .video__window {
    width: 648px;
    height: 499px;
    background: url("../img/video-tablet@1x.jpg");
  }

  .video__window-scroll-bg {
    width: 389px;
    height: 92px;
    left: 94px;
    background: none;
    transform: none;
  }

  .video__window-scroll-line{
    width: 100%;
  }

  .video__window-scroll-toggle{
    left: 112px;
  }

  .video__window-nav-bg {
    width: 648px;
    height: 92px;
    background: rgba(0,0,0,0.5);
    transform: translateY(-100%);
  }

  .video__window-nav__repeat {
    margin-left: 29px;

    path {
      fill: $white-color;
    }
  }

  .video__window-nav__subtitles {
      path {
      fill: $white-color;
    }
  }

  .video__window-nav__fullscreen {
    margin-right: 35px;

    polygon {
      fill: $white-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .video{
    padding-top: 63px;
    margin-bottom: -6px;
  }

  .video-slogan{
    padding: 0 318px;
  }

  .video__window {
    width: 800px;
    height: 500px;
    background: url("../img/video-desktop@1x.jpg");
  }

  .video__window-scroll-bg {
    width: 539px;
    height: 94px;
  }

  .video__window-scroll-toggle{
    left: 110px;
  }


  .video__window-nav-bg{
    width: 800px;
    height: 94px;
  }
}
